<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notasapp" >

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotasApp" >
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.notasapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".NewNotaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".notificaciones.Notificando"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".videos.TomarVideo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".imagenes.TomarFoto"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Principal"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MuestraTareas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MostrarDetalles"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Inicio"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.notasapp.notificaciones.AlarmReciver"
            android:enabled="true"/>

        <service android:name="com.example.notasapp.notificaciones.NotificationService"
            android:enabled="true"/>

        <service android:name="com.example.notasapp.notificaciones.RebootServiceClass"/>
        <receiver android:name="com.example.notasapp.notificaciones.MyRebootReciver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>